.book-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.book-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.book__title {
    font-size: 1.2rem;
    text-align: center;
}


.book__description {
    text-align: center;
}